.DS_Store
.Python
.env
pip-selfcheck.json

/bin
# Ignore data folder content but not folders
/data/**
!/data/models
!/data/training
!/data/training/accuracy
!/data/.gitkeep 
!/data/models/.gitkeep 
!/data/training/.gitkeep 
!/data/training/accuracy/.gitkeep

/etc
/imagery/examples

# Ignore imagery test data folder content
/imagery/test_data/**
/imagery/training_data/**
/imagery/validation_data/**

!/imagery/test_data/.gitkeep
!/imagery/training_data/.gitkeep
!/imagery/validation_data/.gitkeep

/include
/lib
/share
/src/playground

__pycache__
